h4, h5 {
    margin-bottom: 0px;
    margin-top: 0px;
}

#quarto-document-content {
    padding-top: 0px;
}

/* Remove title header from page */
#title-block-header {
    content-visibility: hidden;
}